.col-sm-12.col-md-3.col-lg-3.hidden-xs.sidebar.sidebar-left
  %ul#menu-submenu.menu
    %li{nav_active("/le-cetl/la-formule-cetl/")}
      = link_to 'La Formule CETL', '/le-cetl/la-formule-cetl/'
    %li{nav_active("/le-cetl/calendrier-et-contenu-des-cours/")}
      = link_to 'Programme', '/le-cetl/calendrier-et-contenu-des-cours/'
    %li{nav_active("/le-cetl/lieu/")}
      = link_to 'Lieu', '/le-cetl/lieu/'
    %li{nav_active("/le-cetl/conditions-d-admission/")}
      = link_to 'Conditions d’admission', '/le-cetl/conditions-d-admission/'
    %li{nav_active("/le-cetl/examens/")}
      = link_to 'Examens', '/le-cetl/examens/'
    %li{nav_active("/le-cetl/le-diplome/")}
      = link_to 'Le diplôme', '/le-cetl/le-diplome/'
    %li{nav_active("/le-cetl/liste-des-enseignants/")}
      = link_to 'Liste des enseignants', '/le-cetl/liste-des-enseignants/'
    %li{nav_active("/le-cetl/cours-a-distance/")}
      = link_to 'Cours à distance', '/le-cetl/cours-a-distance/'
    %li{nav_active("/le-cetl/direction/")}
      = link_to 'Direction', '/le-cetl/direction/'
