.col-sm-12.col-md-3.col-lg-3.hidden-xs.sidebar.sidebar-left
  %ol#menu-submenu.menu
    %li{nav_active("/le-cetl/manifeste-cetl/")}
      = link_to 'Le manifeste du CETL', '/le-cetl/manifeste-cetl/'
    %li{nav_active("/le-cetl/fonctionnement-et-inscription/")}
      = link_to 'Fonctionnement et inscription', '/le-cetl/fonctionnement-et-inscription/'
    %li{nav_active("/le-cetl/conditions-d-admission/")}
      = link_to 'Conditions d’admission', '/le-cetl/conditions-d-admission/'
    %li{nav_active("/le-cetl/programmation-et-tarifs/")}
      = link_to 'Programmation et tarifs', '/le-cetl/programmation-et-tarifs/'
    %li{nav_active("/le-cetl/examens/")}
      = link_to 'Examens', '/le-cetl/examens/'
    %li{nav_active("/le-cetl/memoires-et-soutenance/")}
      = link_to 'Mémoires et soutenances', '/le-cetl/memoires-et-soutenance/'
    %li{nav_active("/le-cetl/le-diplome/")}
      = link_to 'Le diplôme', '/le-cetl/le-diplome/'
    %li{nav_active("/le-cetl/liste-des-enseignants/")}
      = link_to 'Liste des enseignants', '/le-cetl/liste-des-enseignants/'
