= partial 'layouts/head'
%body{class: current_page.data.body_classes || "page"}
  = partial "layouts/old_browser_warning"
  = partial "layouts/header"
  .wrap.container{:role => "document"}
    .content.row
      =# partial "layouts/articles-sidebar-left"
      .main.col-sm-12.col-md-9
        %h1
          = current_page.data.title
          %small
            %p
              - if current_page.data.tags
                - current_page.data.tags.each do |tag|
                  %i.glyphicon.glyphicon-tag
                  %a{href: tag_path(tag)}= tag
              - if current_page.data.author
                = ' | '
                %i.glyphicon.glyphicon-user
                = current_page.data.author
        = yield
      = partial "layouts/sidebar-right"
  = partial "layouts/footer"
  = javascript_include_tag "scripts"
