= partial 'layouts/head'
%body{class: current_page.data.body_classes || "page"}
  = partial "layouts/old_browser_warning"
  = partial "layouts/header"
  .wrap.container{:role => "document"}
    .content.row
      = partial "layouts/sidebar-left"
      .main.col-sm-12.col-md-6.col-lg-6
        %h1
          = current_page.data.title
          - if current_page.data.category
            %small
              %p
                %i.glyphicon.glyphicon-tag
                = current_page.data.category
        = yield
      = partial "layouts/sidebar-right"
  = partial "layouts/footer"
  %script{src: "https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"}
  = javascript_include_tag "scripts"
