---
title: Événements
---

## Assises de la traduction littéraire en Arles, du 9 au 11 novembre 2018

<a href="/uploads/prog_assises_ATLAS_2018.bd.pdf">Voir le programme</a>

## Foire du livre

<p>En 2019, la FLB fêtera son cinquantième anniversaire. Thématique générale de la Foire&nbsp;: nos futurs. A l’honneur&nbsp;: la Flandre. Le CETL y sera, comme toujours,  présent sur plusieurs fronts&nbsp;:</p>
<p>1. Il tiendra un stand (CETL/Editions du Hazard, magasin 1) consacré entièrement aux ouvrages publiés en français sur la traduction littéraire (quelque 250 titres). Il s’agit là d’une mine d’or pour toute personne intéressée par les témoignages, l’historique ou les réflexions plus théoriques concernant la traduction littéraire.</p>
<p>2. La quatrième journée de la traduction sera consacrée en particulier aux «&nbsp;variations ». Une majorité de traducteurs invités sur les podiums sont des formateurs du CETL. Françoise Wuilmart interviendra sur le thème&nbsp;: «&nbsp;Fallait-il retraduire Stefan Zweig&nbsp;?&nbsp;»(cf. programme ci-dessous)</p>

<a href="http://flb.be/programme-2/">Voir le programme 2019</a>

## Soutances à venir

N.B.&nbsp;: toutes les soutenances sont publiques (sous réserve de l’accord de l’étudiant)

### Français au néerlandais

**Pien Jalink**
Asthmes (2007, Fiction & Cie), de Sophie Maurer.

Directeur de mémoire : Marianne Kaas

Lieu de la soutenance : Amsterdam, Vertalershuis

Date : à fixer (début 2019)

### Français à l’allemand

**Birgit Buggel-Asmus**

Une partie de chasse (2012, L’Olivier), d’Agnès Desarthe

Directeur de mémoire : Dieter Hornig

Lieu de soutenance : Paris, Centre national du Livre (CNL)

Date : à fixer (début 2019)

### Français au bosnien

**Azra Pita Parente**

Monsieur Ibrahim et les fleurs du Corran, Erich Emenaul Schmitt, (Albin Michel, 2001)

Oscar et la dame rose, Eric Emmanuel Schmitt (Albin Michel, 2002)

Directeur de mémoire&nbsp;: Aleksandar Grujicic

Lieu de la soutenance&nbsp;: Sarajevo, Centre André Malraux

Date&nbsp;: à fixer

### Français au brésilien

**Naiana Bueno**

La grande montagne des contes chinois, Thierry Fabienne et Gendrin Catherine (Rue du Monde, 2008)

Directeur de mémoire&nbsp;: Juan Bastos

Soutenance par Vidéo-conférence

Date&nbsp;: à fixer

<!-- Muting events until new updates
<div class="events">
  <% if data.events %>
    <% data.events.each do |event| %>
    <article class="event" data-start-date="<%= event.start_date %>" data-end-date="<%= event.end_date %>">
      <h4 class='muted'><%= event.date %></h4>
      <h3>
        <% if event.url %>
          <a href="<%= event.url %>" target="_blank">
            <%= event.title %>
          </a>
        <% else %>
          <%= event.title %>
        <% end %>
      </h3>
      <% if event.body %>
        <%= partial(:event_body, :locals => { :body => event.body}) %>
      <% end %>
    </article>
    <% end %>
  <% end %>
</div>
-->
