---
title: Événements
---

<% if data.events %>
  <% data.events.each do |event| %>
    <h3 class=''><%= event.date %></h3>
    <h3>
      <% if event.url %>
        <a href="<%= event.url %>" target="_blank">
          <%= event.title %>
        </a>
      <% else %>
        <%= event.title %>
      <% end %>
    </h3>
    <% if event.body %>
      <%= partial(:event_body, :locals => { :body => event.body}) %>
    <% end %>
  <% end %>
<% end %>
