---
title: Soutenances à venir
---

Etant donné la situation sanitaire due au Covid 19, toutes les soutenances (quatre) prévues pour le printemps  2020 sont reportées à l’automne 2020, mais cependant sous réserve. 
En effet, à ce jour nous n’avons aucune certitude ni garantie que les lieux d’accueil de ces soutenances à Paris seront en mesure de les héberger.

<!-- Muting events until new updates
<div class="events">
  <% if data.events %>
    <% data.events.each do |event| %>
    <article class="event" data-start-date="<%= event.start_date %>" data-end-date="<%= event.end_date %>">
      <h4 class='muted'><%= event.date %></h4>
      <h3>
        <% if event.url %>
          <a href="<%= event.url %>" target="_blank">
            <%= event.title %>
          </a>
        <% else %>
          <%= event.title %>
        <% end %>
      </h3>
      <% if event.body %>
        <%= partial(:event_body, :locals => { :body => event.body}) %>
      <% end %>
    </article>
    <% end %>
  <% end %>
</div>
-->
