---
title: Événements
---

## Foire du livre

<p>Cette année encore, le CETL sera présent à la Foire du Livre de Bruxelles, sur plusieurs fronts&nbsp;:</p>

<p>1. Il tiendra un stand (CETL/Editions du Hazard, stand 113, magasin 1) consacré entièrement aux ouvrages publiés en français sur la traduction littéraire (quelque 250 titres). Il s’agit là d’une mine d’or pour toute personne intéressée par les témoignages, l’historique ou les réflexions plus théoriques concernant la traduction littéraire.</p>
  
<p>2. La journée du jeudi 21 février (à partir de midi) sera consacrée à la traduction. Une majorité de traducteurs invités sur les podiums sont des formateurs du CETL. Françoise Wuilmart interviendra à midi à l’Espace Fintro sur le thème&nbsp;: Qu’est-ce qu’une mauvaise traduction littéraire&nbsp;»<br>(cf. programme ci-dessous)</p>

<a href="/uploads/programme_flb_2018.pdf">Téléchargez le programme 2018</a>

## Soutances à venir

N.B.&nbsp;: toutes les soutenances sont publiques (sous réserve de l’accord de l’étudiant)

### Français au bosnien

**Azra Pita Parente**

Monsieur Ibrahim et les fleurs du Corran, Erich Emenaul Schmitt, (Albin Michel, 2001)

Oscar et la dame rose, Eric Emmanuel Schmitt (Albin Michel, 2002)

Directeur de mémoire&nbsp;: Aleksandar Grujicic

Lieu de la soutenance&nbsp;: Sarajevo, Centre André Malraux

Date&nbsp;: à fixer

### Français au brésilien

**Naiana Bueno**

La grande montagne des contes chinois, Thierry Fabienne et Gendrin Catherine (Rue du Monde, 2008)

Directeur de mémoire&nbsp;: Juan Bastos

Soutenance par Vidéo-conférence

Date&nbsp;: à fixer

<!-- Muting events until new updates
<div class="events">
  <% if data.events %>
    <% data.events.each do |event| %>
    <article class="event" data-start-date="<%= event.start_date %>" data-end-date="<%= event.end_date %>">
      <h4 class='muted'><%= event.date %></h4>
      <h3>
        <% if event.url %>
          <a href="<%= event.url %>" target="_blank">
            <%= event.title %>
          </a>
        <% else %>
          <%= event.title %>
        <% end %>
      </h3>
      <% if event.body %>
        <%= partial(:event_body, :locals => { :body => event.body}) %>
      <% end %>
    </article>
    <% end %>
  <% end %>
</div>
-->