%nav.top-nav-wrapper
  %ul
    %li
      = link_to("Acceuil", "#")
    %li
      = link_to("Ateliers", "#")
    %li
      = link_to("Stages à Seneffe", "#")
    %li
      = link_to("Tarifs", "#")
    %li
      = link_to("Liens", "#")
    %li
      = link_to("Contact", "#")
